/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url(./images/background_img.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10rem;
}
.quote-container {
  width: 100%;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}
h1 {
  text-align: center;
  color: white;
  background-color: rgb(71, 57, 57);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.quote {
  font-size: 1.5rem;
  color: rgb(141, 119, 119);
  font-weight: 100;
}
.quote-author {
  font-size: 1rem;
  color: rgb(140, 141, 141);
  font-weight: 500;
}
.btn {
  border: none;
  font-family: inherit;
  background-color: rgb(133, 104, 104);
  color: white;
  padding: 10px;
  border-radius: 8px;
}
.btn:hover {
  background-color: rgb(101, 80, 80);
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  body {
    padding: 2rem;
  }
  .quote-container {
    padding: 2rem 1rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  body {
    padding: 4rem;
  }
  .quote-container {
    padding: 3rem 2rem;
  }
}
